html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, button, figure, blockquote {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro' , sans-serif;
  color: #fff;
  background-color: #010202;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  border: none;
  background-color: transparent;
}
